{% extends 'minichat/layout.html' %}

{% block title %}Chat page{% endblock title %}

{% block body %}
    <h2>Ma page de chat</h2>
    <form action="" method="POST">
        {% csrf_token %}

            {% for value, key in input.items %}
                
                <p><strong>{{value}}</strong><br /><br />{{key}}<br /><br /></p>
            {% endfor %}<br /><br />
            

             {{form}}
        <input type="submit" value="Send" name="send" />
    </form>

{% endblock body %}
