/*
* I set all body margin to 0 to remove every space
*/
body{
    margin: 0%;
    width: 100%;
    height: 100%;
}
/* This is the block container directly below my body.
*-Notice: I didn't put display: flex because bootstrap is used here and has already defined 
* flex property 
*/
.container {
    margin: 0% !important;
    border: 1px solid;
    max-width: 100% !important;
    padding: 0% !important;
    background-color: #BE3144;
}
/*
* Below is the css about header and all is containt
*/
header {
  
    max-width: inherit !important;
    position: relative;
    height: 70px;
    
}

#navbar {
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    right: 0%;
    height: inherit !important;
    background-color: #BE3144;
    display: flex;
    justify-content: flex-end;
}

header ul {
  
    height: inherit !important;
    width: 40%;
}


header ul li {
   
    padding: 1.5%;
    transition-duration: 0.5s;
    background-color: #BE3144;
    border: #BE3144;
}

header ul li:hover {
    background-color: #45567D;
    border: #45567D;
    transition-duration: 0.5s;
}

header a, header a:hover {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

/*
* Below is the CSS code for the welcome-section who follow straight the header
*/

#welcome-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #303234;
    color: white;
    margin-top: -0.5%;
}
 
#welcome-section div {
    width: 50%;
    display: flex;
    justify-content: center;
}

#personal-image {
    width: 40%;
    height: 15em;
    border-radius: 50%;
    margin-top: 5%;
}
h1 {
    
    font-weight: bold;
    padding-top: 3%;
    text-align: center;
}

#welcome-section p {
    color: #BE3144;
    font-size: 35px;
    font-style: italic;
}

/*
* The CSS code below belong to the project section and all it contents
*/
#projects {
    height: auto;
    padding: 1%;
    width: 100%;
    margin: 0%;
    background-color: white;
   
}

#block-projects {
    width: 100%;
    margin: 0%;
}

#block-projects span {
    border-bottom: 2px solid;
    padding: 0% 0.5% 0.5% 0.5%;
}
h2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    opacity: 0.8;
   
}
.project-tile {
    width: 30%;
    margin: 1%;
    height: auto;
    background-color: #303841;
}

.project-tile div {
    width: inherit;
    height: inherit;
}

.project-tile a {
    color: white;
    text-decoration: none;
}
.project-tile img {
    width: 100%;
    height: 350px;
    display: block;
    margin: 0%;

}

.project-tile:nth-child(6) img {
    margin-left: 2%;
}

figure {
    color: white;
}
figcaption { 
    bottom: 0%;
    height: 50px;
    color: white;
    text-align: center;
    margin-top: 2% !important;
}

/*
* The block contact CSS code begin here
*/
#contacts {
    width: 100%;
    height: 400px;
    background-color: #303234;
    color: white;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 0.3%;
}

#title-contact {
    font-size: 60px;
    font-weight: bold;
}

#invitation {
    margin-top: -2%;
    margin-bottom: 5%;
    font-size: 22px;
    font-style: italic;
}

#contacts .nav {
    height: 60px;
}
#contacts .nav-item {
    width: 15%;
    padding: 0% !important;
}

#contacts .nav-item{
    
    transition-duration: 0.5s;
    padding-bottom: 1%;
}

#contacts .nav-item:hover{
    transition: ease-out 0.5s;
    padding-top: 1% !important;
}

#contacts .nav-link img {
    width: 20%;
    display: block;
}

#icon-contact {
    margin-top: 4%;
    height: 80px;
}

#contacts a {
    color: white;
    padding: 0% !important;
    font-size: 26px;
    white-space: nowrap;
}

/*
* The footer CSS code is there
*/

footer {
    width: 100%;
    height: 160px;
    background-color: #303234;
    color: white;
}


footer p:nth-child(1) {
    padding-top: 2%;
    width: 50%;
    margin-left: 25%;
}

footer p:nth-child(2) {
    margin-left: 70%;
}

/*
* Here begin the responsive design code
*/

@media screen and (min-width: 320px) and (max-width: 666px) {
    #navbar {
        display: flex;
        justify-content: center !important;
    }

    #navbar ul {
        width: 100%;   
    }

    header ul li:active {
        background-color: #45567D;
        border: #45567D;
    }
 
    #navbar a {
        font-size: 16px;
    }
    /*
    * Welcome-section begin here 
    */
    #welcome-section div {
        padding-top: 1% !important;
        margin-top: 0% !important;
    }
    #personal-image {
        width: 80%;
        height: 10em;
        border-radius: 50%;
        margin-top: 1%;
    }

    h1 {
    
        font-weight: bold;
        font-size: 18px;
    }
    
    #welcome-section {
        height: 100vh;

    }

    #welcome-section p {
        color: #BE3144;
        font-size: 14px;
        font-style: italic;
    }

    /*
    * Project-section begin here
    */

    h2 {
        font-size: 22px;
    }

    .project-tile {
        width: 80%;
        margin-left: 10%;
       
    }

    /*
    * Contact section begins here
    */

    #contacts {
        height: 200px;
    }
    #contacts #title-contact{
        font-size: 26px;
        padding-top: 5%;
    }

    .project-tile:nth-child(6) img {
        margin-left: 0%;
    }
    

    #contacts #invitation {
        font-size: 16px;
    }

    #contacts .nav-item {
        margin-left: 5%;
    }

    #contacts a {
        font-size: 10px;
        padding: 3%;
    }

    /*
    * Here begin the footer
    */

    footer{
        height: 50px;
        margin-bottom: 0%;
    }

    footer p:nth-child(1) {
        display: none;
    }

    footer p:nth-child(2) {
        margin-left: 12%;
        padding-top: 3%;
        font-size: 12px;
    }
}

@media screen and (min-width: 667px) and (max-width: 992px) {
    
    #welcome-section p {
        padding-bottom: 2%;
    }
    
    #navbar a {
        font-size: 14px;
    }

    #block-projects {
        padding: 0% !important;

    }
    .project-tile {
        width: 40%;
        margin-left: 6%;
    
    }

    .project-tile:nth-child(6) img {
        margin-left: 0%;
    }
    

    #contacts .nav-item {
        margin-left: 2%;
       
    }

    #contacts a {
        font-size: 18px;
    }

    footer {
        height: 150px;
    }
    footer p:nth-child(1) {
        width: 90%;
        margin-left: 5%;
    }

    footer p:nth-child(2) {
        margin-left: 50%;
        
    }

}