body {
    font-size: 18px;
}
.container {
    border: none;
    max-width: 55% !important;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 22.5%;
    background-color: white;
    opacity: 5;
}

h1 {

    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 36px;
    
    white-space: nowrap;
}

p{
    font-size: 18px;
    font-style: italic;
}

form p {
    text-align: left;
}

#form-check, #form-check-2 {
    margin-right: 35%;
    width: 100%;
    text-align: left;
}


.container h1, .container p {
    text-align: center;
    color: white;
}
form{
    max-width: 100% !important;
    
    padding: 5%;
    border-radius: 5px;
    color: white;
    background-color: #282847;
    opacity: 0.9;
}

#background-fixed {
    width: 100%;
    position: fixed;
    z-index:-1;
    height: inherit;
    left: 0%;
    background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: 20%;
    background-size: inherit;
}


#background-color {
    width: 100%;
    position: fixed;
    z-index:-1;
    height: inherit;
    left: 0%;
    background-color: #6362EA;
    opacity: 0.5;
    
}


@media screen and (min-width: 320px) and (max-width: 576px){
    .container {
        max-width: 85% !important;
        left: 7.5%;
    }

    h1{
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    form {
        max-width: 100% !important;
       
    }
}

@media  screen and (min-width: 577px) and (max-width: 992px) {
    
    .container {
        max-width: 70% !important;
        left: 15%;
        height: 100%;
    }

    h1 {
        font-size: 26px;
    }


    p {
        font-size: 16px;
    }
}

  