body {
    background-color: #ECEEF1;
    width: 100% !important;
    margin: 0% !important;
    font-family: Arial, Helvetica, sans-serif;
}

.account {
    background-color: #0F7ACA;
}

.in {
    position: relative;
    margin-left: 90%;
    margin-top: 25%;
    z-index: 1;
}

.header {

    padding: 0% !important;
    margin-top: 1%;
}


.header ul {
    list-style-type: none;
}

.header ul li {
    font-size: 11px;
    line-height: 5px;
    text-align: right;
}
.header ul li:nth-child(2) {
    line-height: 1px;
}

.header .sign {
    background-color: #0077C5;
    border-color: black !important;
    border: 0.5px solid;
}

h1, h2, h3, h4, h5, h6, .warns{
    text-align: center;
}



.form #formular {
   
    border: 1px solid;
    border-color: rgb(156, 154, 154);
    background-color: white;
    
}

#forms {
    padding: 8%;
}

form {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
    opacity: 0.7;
}

#formular h2{
    font-size: 20px;
   
}

#formular p {
    font-size: 14px;
    text-align: center;
}

#formular .warns {
    font-size: 10px;
}

.warns:nth-child(2) {
    font-style: italic;
}
.bold {
    font-weight: bold;
}

.p-warns {
    font-size: 12px;
    line-height: 2px;
    opacity: 0.7;
}


.nav-bottom-form {
    font-size: 11px;
    margin-top: 2%;
    
}

.nav-bottom-form a {
    color: black;
    opacity: 0.8;
}

.nav-bottom-form a:hover {
    text-decoration: underline;
}

#para {
    margin-bottom: 5%;
}

footer {
    text-align: left;
    width: 100%;
    background-color: white;
    font-size: 14px;
}

footer ul {
    list-style-type: none;
}

#menu li a{
   
   margin: 3px;
   color: black;
   opacity: 0.8;
}

a {
    text-decoration: none;
}


.footer-form {
    background-color: #ECEEF1;
    height: 60px;
    

}

.footer-form p {
    opacity: 0.7;
    font-size: 10px !important;
    text-align: center;
    padding: 5%;
}

#after-h2 {
    width: 90%;
    margin-left: 5%;
    opacity: 0.7;
}

