body {

    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
}
.container {
    display: flex;
    flex-direction: column;  
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page-top {

    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #1F2937;
    color: white;
}

header {
   
    display: flex;
    width: 80%; 
    margin-left: 14%;
}

#logo{
   
    width: 40%;
    margin-top: 1%;
}

#logo img {
    width: 40%;
    height: 150px;
    border-radius: 50%;
    border: none;
}

#nav-bar {

    width: 60%;
    height: 100px;
    margin-top: 2%;
}



ul {
    display: flex;
    list-style: none;
    width: 80%;
    margin-left: 14%;
    
}

li {
    padding: 2%;
    margin-left: 1%;
    width: 20%;
    text-align: center;
}

li:hover{
    border-bottom: 3px solid;
    border-color: #3882F6;
}

li a {
    color: white;
    text-decoration: none;
}

/**
** CSS for sub-top
**/

.sub-header {
    display: flex;
    width: 80%;
    margin-left: 14%;
    padding-bottom: 4%;
}

#sub-header-left {
    width: 40%;
    padding-right: 3%;
    margin-top: 8%;
}

#sub-header-right {
    width: 50%;
    margin-top: 8%;
    margin-left: 3.5%;
}

#sub-header-right img {
    width: 80%;
    display: block;
    margin-right: 0%;
    margin-left: 0%;
    height: 300px;
}

h1 {
    font-size: 40px;
}

#sub-header-left p {
    width: 100%;
    margin-top: -6%;
}

#sub-header-left button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border-color: #3882F6;
    border: none;
    width: 30%;
    padding: 0.8%;
    height: 35px;
    font-weight: bold;
    font-size: 18px;
}

/**
** this is the first-level of main block
**/

main {

    display: flex;
    flex-direction: column;
}

.first-level {
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 70%;
    margin-left: 15%;
    opacity: 0.8;
}

.first-level p {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 5%;
}


#squares {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.square {
    width: 20%;

    height: 250px;
}

figure {
   
    border-radius: 15px;
    width: 95%;
    margin-left: 0%;
    margin-top: 0%;
    height: 170px;
}

figure img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
}


/**
** Below are codes of level 2 of the main block
**/

.second-level {
   
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: #E5E7EB;
}

.second-level blockquote {
    width: 67.5%;
    margin-left: 20%;
    font-size: 36px;
    font-style: italic;
    margin-top: 10%;
    opacity: 0.8;
}

#cite {
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    margin-left: 65%;
}

/**
* Code css for the last level
**/

.third-level {
    height: 350px;
}



#register {
    width: 75%;
    margin-left: 15%;
    height: 160px;
    margin-top: 7%;
    border: none;
    border-radius: 10px;;
    display: flex;
    background-color: #3882F6;
    color: white;
}



#infos {
    width: 70%;
}

#sign{
    margin-left: 5%;
    width: 20%;
}

#infos h2, #infos p {
    margin-left: 10%;
}

#infos h2{
    margin-top: 7%;
}

#infos p{
    margin-top: -2%;
}

#sign button {
    
    width: 65%;
    border: 2px solid;
    border-radius: 5px;
    background-color: #3882F6;
    border-color: white;
    color: white;
    height: 35px;
    margin-top: 30%;
    font-size: 18px;
    font-weight: bold;
}


/**
* Code css of footer
**/

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    text-transform: capitalize;
    height: 100px;
    margin-bottom: 0%;
}

footer p {
    margin-top: 3%;
   
}


/**
** Area of media query
**/

@media only screen and (max-width: 992px) {
    
    .sub-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid;
    
    }

}

