@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
body {
    font-family: 'Space Grotesk', sans-serifs;
}

@media screen and (max-width: 768px) {
    input::placeholder {
        font-size: 10px;
    }
}
#left-section {
    background: url('./images/bg-main-desktop.png');
    background-repeat: no-repeat;
}


#tof-white {
    top: 8%;
    left: 2.5%;
}

#empty-circle {
    border-radius: 50%;
    height: 1.5em;
    top: 17%;
    left: 19%;
    width: 1vh !important;
    border: 1px solid white;
}
#card-front {
    z-index: 0 !important;
}

#number, #client-info {
    color: white;
}
#number {
    top: 47%;
    left: 6.2%;
    font-size: 24.5px; 
}

#card-date div:nth-child(2) {
    margin-left: 5%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    #tof-white {
        left: 0%;
    }

    #empty-circle {
        width: 11% !important;
        height: 1.25em;
        top: 17%;
        left: 22%;
    }

    #number {
        font-size: 16px;
    }

    #client-info {
        font-size: 11px;
    }

    #cvc-number {
        top: 38.5% !important;
    }

    label {
        font-size: 12px;
    }

}

#client-info {
    top: 74%;
    left: 7%;
}


#card-front-div {
    margin-top: 20%;
    margin-left: 46%;
    position: relative;
}

#card-back {
    margin-top: 8%;
    margin-left: 65%;
   
}

#input-div {
    margin-top: 10%;
}


@media screen and (min-width: 992px) {
    #input-div {
        margin-top: 17%;
    }
}
#left-section, #right-section {
    height: 100vh;
    box-shadow: 0px 0px 1px black;
}

@media screen and (max-width: 768px) {
    #number {
        font-size: 13px;
        top: 47%;
    }

    #client-info {
        font-size: 11px;
    }

    label {
        font-size: 11px;;
    }

    #cvc-number {
        top: 40.2% !important;
        font-size: 12px;
    }

    #tof-white {
        top: 4%;
        left: 0%;
    }
}
@media screen and (max-width: 480px) {
    #left-section, #right-section{
        height: 63dvw;
        box-shadow: 0px 0px 1px black;
    }

    #left-section {
        display: flex;
        flex-direction: column;
        padding-bottom: 13%;
        background: url('./images/bg-main-mobile.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #right-section {
        margin-top: 10vh;
    }

    #tof-white {
        top: 8%;
        left: 0%;
    }

    #empty-circle {
        height: 1.25em;
        top: 17%;
        left: 19%;
    }

    form {
        padding: 0% 5% 0% 5%;
        box-sizing: border-box;
    }
    #card-front-div {
        position: absolute;
        right: 18% !important;
        order:2;
        top: 8.5vh;
        z-index: 1;
    }

    #card-back {
        margin-top: 12%;
        margin-left: 20%;
        box-shadow: 0px 0px 0px grey;
    }
    
    label {
        font-size: 14px;
    }

    #number {
        font-size: 18px;
        top: 55%;
    }

    #client-info {
        font-size: 12px;
        top: 78%;
    }

    #cvc-number {
        top: 40.2% !important;
        font-size: 14px;
    }
}

#right-section {
    font-size: 15px;
    margin-left: 0%;
}

#confirm {
    background: url('./images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 3% 0% 3% 0%;
}

label {
    box-sizing: border-box;
    padding-bottom: 2%;
    text-transform: uppercase;
}

button {
    margin-top: 5%;
}

.input-error {
    font-size: 11px;
    color: red;
    margin-top: 0.5%;
}

#cvc-number {
    color: white;
    top: 43%;
    left: 4%;
    text-align: right;
}
