body {
    margin: 0% !important;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}

#head {
    top: 15%;
    padding: 0% !important;
    position: sticky;
    width: 25% !important;
    border-right: solid;
    position: fixed;
    top: 0%;
    left: 0%;

}

header {
    font-size: 24px;
    margin: 2%;
}

#navbar {
    padding: 0% !important;
    height: auto;

   
}


main {
   overflow: hidden;
   position: absolute;
   left: 27%;
   top: 5%;
   text-align: left;
}
h2 {
    white-space: nowrap;
    text-align: center;
    margin-top: 3%;
}
nav ul {
    list-style: none;
    padding: 0% !important;
    max-width: 100%;
    margin-left: 0%;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

nav li {
    border-top: 1px solid;
    border-bottom: 1px solid;
    position: relative;
   
}
a {
    text-decoration: none;
    color: black;
    margin-left: 5%;
}

p, ul {
    margin-left: 5%;
}

code p {
    background-color: #F0F0F0 !important;
    padding: 2%;
    width: 75%;
    margin-left: 15% !important;
}

@media only screen and (max-width: 768px) {
   
    #head {
        width: 100% !important;
        text-align: center;
        position: -webkit-sticky;
        position: sticky;
        top: 0%;
        z-index: 1;
        background-color: white;
       
    }

    main {
        position: absolute;
        top: 30%;
        left: 3%;
        right: 3%;
    }

    h2 {
        font-size: 16px;
    }

    nav ul {
        font-size: 14px;
        height: 100px;
        text-align: center;
    }

    p, ul {
        margin-left: 0%;
        text-align: justify;
    }
}